@charset "UTF-8";
/*Body CSS*/
body {
  background-image: url(gym.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: #508ec7;
}
body{
  color:rgb(91, 91, 91);
  background-color: ivory;
  font-family: Verdana, Geneva, sans-serif;
  	margin: 0 auto;
  	width: 100%;
  	max-width: 1020px;
  	min-width: 640px;
  }
/* makes a grey box around the div containers*/
.container {
  margin: auto;
  width: 80%;
  background-color: #eeeeee;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 10px;
}
/*Heading/Title CSS*/
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}


/*Submit Button*/
.submit {
  width: initial; position: initial;
}

/*TABLE CSS*/

/*Size of table*/
table {
  margin: 100px 0px 0px 200px;
  width: 80%;
}
/*Opacity for table*/
table, th, td {
  border: 2px yellow solid;
  opacity: .90
}
/*Changes size of the tables body and the header. Also aligns the text in the center*/
th, td {
  padding: 10px;
  text-align: center;
}
/*Changes the even numbered rows background to light gray*/
tr:nth-child(even) {
  background-color: #e8e8e8
}
/*Changes the odd numbered rows background to white*/
tr:nth-child(odd) {
  background-color: white
}
/* Changes background color of the rows to blue and the text color to white.*/
th {
  background-color: #0000cc;
  color: white;
}
